h1{
	text-align: center;
}

.container{
float:left;
position: relative;
left:0px;

}

#image{
	margin-left: 25%;
}

#text{
	margin-left: 5%;
    }


.tabUtilisateurs {
	border: medium solid #6495ed;
	border-collapse: collapse;
	width: 50%;
	align: center;
}
table{
margin: auto;
	text-align: center;
	padding: 25%;

}
th {


	border: medium solid #6495ed;
	font: 25px arial;
	width: 33%;
	padding: 5px;
	background-color: #D0E3FA;
	text-align: right;

}
 td {
	font: 15px arial;
	border: thin solid #6495ed;
	width: 33%;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
}

#content {
  	height: 540px;
  	margin-left: auto;
  	margin-right: auto;
  	width: 95%;
}

#gauche {
 	display: inline-block;
 	font-family: Helvetica; 
 	height: 540px;
 	width: 300px;
 	font-size: 15px;
}
#droite {
  	display: inline-block;
  	width: 1100px;
  	background-color: #ffffff;
  	margin-left: 20px;
    height: 540px;
	vertical-align: top;
	font-family: Helvetica; 
}

